/* GLOBAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}

a,
a:hover {
    text-decoration: none;
}

.mast-title {
    max-width: 750px;
}

.mast-title h6 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #dc4f72;
}

.mast-title h3 {
    color: #2c3038;
    font-size: 46px;
    font-weight: 700;
}

.mast-title p {
    color: #2c3038;
    font-size: 16px;
    font-weight: 400;

}

.mast-section {
    margin: 3.1rem 0;
}

/* END GLOBAL */



/* LIGHT MODE */

/* HEADER */

/* END HEADER */


/* CAROUSEL */

/* END CAROUSEL */


/* WHY CHOOSE */

/* END WHY CHOOSE */


/* ABOUT US */

/* END ABOUT US */


/* BLOG */
.mast-title {
    max-width: 750px;
}

.mast-title h6 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #dc4f72;
}

.mast-title h3 {
    color: #2c3038;
    font-size: 46px;
    font-weight: 700;
}

.mast-title p {
    color: #2c3038;
    font-size: 16px;
    font-weight: 400;

}

.blog__content .card-deck {
    margin-top: 50px;
}

.blog__content .card {
    border-radius: 6px;
    transform: translateY(0);
    transition: all .5s;
}

.blog__content .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
}

.blog__content .card:hover {
    cursor: pointer;
}

.blog__content .card img {
    /* width: 100%; */
    border-radius: 6px 6px 0 0;
    filter: grayscale(1);
    transition: all .5s;
}

.blog__content .card:hover img {
    filter: grayscale(0);
}

.blog__content .card:first-of-type::before {
    position: absolute;
    content: '26 Jan, 2022';
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    top: 0;
    right: 0;
    width: 130px;
    height: 50px;
    line-height: 50px;
    border-radius: 0 6px 0 0;
    display: block;
    background-color: #dc4f72;
    z-index: 1;
    transition: all .5s;
}

.blog__content .card:nth-of-type(2)::before {
    position: absolute;
    content: '15 Apr, 2020';
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    top: 0;
    right: 0;
    width: 130px;
    height: 50px;
    line-height: 50px;
    border-radius: 0 6px 0 0;
    display: block;
    background-color: #dc4f72;
    z-index: 1;
}

.blog__content .card:nth-of-type(3)::before {
    position: absolute;
    content: '25 Jun, 2020';
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    top: 0;
    right: 0;
    width: 130px;
    height: 50px;
    line-height: 50px;
    border-radius: 0 6px 0 0;
    display: block;
    background-color: #dc4f72;
    z-index: 1;
}

.blog__content .card-body {
    padding: 20px 20px 30px 20px;
}

.blog__content .card-body span {
    display: block;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    width: 83px;
    height: 30px;
    line-height: 30px;
    border-radius: 20px;
    margin: 10px 0 20px;
}

.card-body .pink__badge {
    color: #dc4f72;
    background: rgba(238, 97, 120, 0.2);
}

.card-body .green__badge {
    color: #008000;
    background: rgba(0, 128, 0, 0.2);
}

.card-body .blue__badge {
    color: #0000ff;
    background: rgba(0, 0, 255, 0.2);
}

.blog__content .card .card-title a {
    color: #2c3038;
    font-size: 22px;
    line-height: 27px;
    font-weight: 600;
    display: block;
}

.blog__content .card:hover a {
    color: #dc4f72;
}

.blog__content .card-body p {
    font-size: 16px;
    line-height: 24.5px;
    color: #5a5a5a;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}

.blog__content .card-body .card__link {
    color: #dc4f72;
    font-size: 16px;
    font-weight: 600;
}

.blog__content .card__link i {
    font-size: 12px;
    transition: all .5s;
}

.blog__content .card:hover i {
    margin-left: 5px;
}

/* END BLOG */


/* FAQ */

        .mast-faq {
            background-color: #f7f9fc;
            padding: 80px 0;
        }

        .mast-faq .mast-title p {
            margin: 15px 0 55px;
        }

        .faq__content {
            position: relative;
        }

        .faq__content .faq__img {
            max-width: 100%;
            border-radius: 6px;
            box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
            transform: translateY(0);
            transition: all .5s;
            position: sticky;
            top: 0;
        }

        .faq__content .faq__img:hover {
            transform: translateY(-8px);
        }

        #faq__collapse .card {
            border-radius: 6px;
            border: 1px solid #eee;
        }

        #faq__collapse .card:first-of-type,
        #faq__collapse .card:nth-of-type(2),
        #faq__collapse .card:nth-of-type(3),
        #faq__collapse .card:nth-of-type(4),
        #faq__collapse .card:nth-of-type(5) {
            margin-bottom: 1rem;
        }

        #faq__collapse .card-header {
            position: relative;
            background: #fff;
            border-bottom: none;
        }

        #faq__collapse .card-header button {
            position: relative;
        }

        #faq__collapse .card-header .btn span {
            position: absolute;
            font-size: 1.6rem;
            font-weight: 700;
            top: 0;
            right: 0;
            transform: rotate(180deg);
            transition: all .5s;
        }

        #faq__collapse .card-header .btn.collapsed span {
            transform: rotate(0deg);
        }

        #faq__collapse .card-header button {
            color: #2c3038;
            text-decoration: none;
            font-size: 20px;
            line-height: 1;
        }

        #faq__collapse .card-header button:focus {
            box-shadow: none;
        }

        #faq__collapse .card-body {
            padding: 0 35px 25px;
            opacity: 0;
        }

        #faq__collapse .collapse.show .card-body {
            animation: inUp .1s linear 1;
            opacity: 1;
        }

    /* END FAQ */
/* END FAQ */


/* FEATURE */

/* END FEATURE */


/* FEEDBACK */

/* END FEEDBACK */


/* FOOTER */

/* END FOOTER */

/* END LIGHT MODE */



/* DARK MODE */

/* HEADER DARK */

/* END HEADER DARK */


/* CAROUSEL DARK */

/* END CAROUSEL DARK */


/* WHY CHOOSE DARK */

/* END WHY CHOOSE DARK */


/* ABOUT US DARK */

/* END ABOUT US DARK */


/* BLOG DARK */

/* END BLOG DARK */


/* FAQ DARK */

/* END FAQ DARK */


/* FEATURE DARK */

/* END FEATURE DARK */


/* FEEDBACK DARK */

/* END FEEDBACK DARK */


/* FOOTER DARK */

/* END FOOTER DARK */

/* END DARK MODE */



/* RESPONSIVE SECTION */

/* HEADER RESP */

/* END HEADER RESP */


/* CAROUSEL RESP */

/* END CAROUSEL RESP */


/* WHY CHOOSE RESP */

/* END WHY CHOOSE RESP */


/* ABOUT US RESP */

/* END ABOUT US RESP */


/* BLOG RESP */
@media screen and (max-width: 576px) {

    .mast-blog .mast-title h3 {
        font-size: 32px;
        margin-bottom: 20px;
    }

    .mast-blog .mast-title p {
        padding: 0 15px;
    }

    .blog__content .card:first-of-type,
    .blog__content .card:nth-of-type(2) {
        margin-bottom: 50px;
    }

}

/* END BLOG RESP */


/* FAQ RESP */
    @media screen and (max-width: 576px) {

        .mast-faq {
            padding: 45px 0;
        }

        .mast-faq .mast-title h3 {
            font-size: 32px;
        }

        .mast-faq .mast-title p {
            /* max-width: 400px;
            margin-left: auto;
            margin-right: auto; */
            padding: 0 15px;
        }

        #faq__collapse {
            margin-top: 35px;
        }

        #faq__collapse .card-header h2 button {
            padding-left: 3px;
        }

        #faq__collapse .card-body {
            text-align: justify;
            word-break: break-all;
            padding-left: 20px;
            padding-right: 50px;
        }

    }
    /* END FAQ RESP */


/* FEATURE RESP */

/* END FEATURE RESP */


/* FEEDBACK RESP */

/* END FEEDBACK RESP */


/* FOOTER RESP */

/* END FOOTER RESP */

/* END RESPONSIVE SECTION */



/* ANIMATION SECTION */

    /* FAQ SECTION */
        /* fadeInUp animation */
        @keyframes inUp {
            from {
                transform: translateY(10px);
            }

            to {
                transform: translateY(0px);
            }
        }
    /* END FAQ SECTION */

/* END ANIMATION SECTION */