/* GLOBAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}

a,
a:hover {
    text-decoration: none;
}

.mast-title {
    max-width: 750px;
}

.mast-title h6 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #dc4f72;
}

.mast-title h3 {
    color: #2c3038;
    font-size: 46px;
    font-weight: 700;
}

.mast-title p {
    color: #2c3038;
    font-size: 16px;
    font-weight: 400;

}

.mast-section {
    margin: 3.1rem 0;
}

#switchButton .fa-sun {
    display: none;
}

.dark #switchButton .fa-sun {
    display: inline-block;
    font-size: 20px;
}

.dark #switchButton .fa-moon {
    display: none;
}

/* END GLOBAL */



/* LIGHT MODE */

/* HEADER */

/* END HEADER */


/* CAROUSEL */

/* END CAROUSEL */


/* WHY CHOOSE */

/* END WHY CHOOSE */


/* ABOUT US */

/* END ABOUT US */


/* BLOG */
.mast-title {
    max-width: 750px;
}

.mast-title h6 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #dc4f72;
}

.mast-title h3 {
    color: #2c3038;
    font-size: 46px;
    font-weight: 700;
}

.mast-title p {
    color: #2c3038;
    font-size: 16px;
    font-weight: 400;

}

.blog__content .card-deck {
    margin-top: 50px;
}

.blog__content .card {
    border-radius: 6px;
    transform: translateY(0);
    transition: all .5s;
}

.blog__content .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
}

.blog__content .card:hover {
    cursor: pointer;
}

.blog__content .card img {
    /* width: 100%; */
    border-radius: 6px 6px 0 0;
    filter: grayscale(1);
    transition: all .5s;
}

.blog__content .card:hover img {
    filter: grayscale(0);
}

.blog__content .card:first-of-type::before {
    position: absolute;
    content: '26 Jan, 2022';
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    top: 0;
    right: 0;
    width: 130px;
    height: 50px;
    line-height: 50px;
    border-radius: 0 6px 0 0;
    display: block;
    background-color: #dc4f72;
    z-index: 1;
    transition: all .5s;
}

.blog__content .card:nth-of-type(2)::before {
    position: absolute;
    content: '15 Apr, 2020';
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    top: 0;
    right: 0;
    width: 130px;
    height: 50px;
    line-height: 50px;
    border-radius: 0 6px 0 0;
    display: block;
    background-color: #dc4f72;
    z-index: 1;
}

.blog__content .card:nth-of-type(3)::before {
    position: absolute;
    content: '25 Jun, 2020';
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    top: 0;
    right: 0;
    width: 130px;
    height: 50px;
    line-height: 50px;
    border-radius: 0 6px 0 0;
    display: block;
    background-color: #dc4f72;
    z-index: 1;
}

.blog__content .card-body {
    padding: 20px 20px 30px 20px;
}

.blog__content .card-body span {
    display: block;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    width: 83px;
    height: 30px;
    line-height: 30px;
    border-radius: 20px;
    margin: 10px 0 20px;
}

.card-body .pink__badge {
    color: #dc4f72;
    background: rgba(238, 97, 120, 0.2);
}

.card-body .green__badge {
    color: #008000;
    background: rgba(0, 128, 0, 0.2);
}

.card-body .blue__badge {
    color: #0000ff;
    background: rgba(0, 0, 255, 0.2);
}

.blog__content .card .card-title a {
    color: #2c3038;
    font-size: 22px;
    line-height: 27px;
    font-weight: 600;
    display: block;
}

.blog__content .card:hover a {
    color: #dc4f72;
}

.blog__content .card-body p {
    font-size: 16px;
    line-height: 24.5px;
    color: #5a5a5a;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}

.blog__content .card-body .card__link {
    color: #dc4f72;
    font-size: 16px;
    font-weight: 600;
}

.blog__content .card__link i {
    font-size: 12px;
    transition: all .5s;
}

.blog__content .card:hover i {
    margin-left: 5px;
}

/* END BLOG */


/* FAQ */

.mast-faq {
    background-color: #f7f9fc;
    padding: 80px 0;
}

.mast-faq .mast-title p {
    margin: 15px 0 55px;
}

.faq__content {
    position: relative;
}

.faq__content .faq__img {
    max-width: 100%;
    border-radius: 6px;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    transform: translateY(0);
    transition: all .5s;
    position: sticky;
    top: 0;
}

.faq__content .faq__img:hover {
    transform: translateY(-8px);
}

#faq__collapse .card {
    border-radius: 6px;
    border: 1px solid #eee;
}

#faq__collapse .card:first-of-type,
#faq__collapse .card:nth-of-type(2),
#faq__collapse .card:nth-of-type(3),
#faq__collapse .card:nth-of-type(4),
#faq__collapse .card:nth-of-type(5) {
    margin-bottom: 1rem;
}

#faq__collapse .card-header {
    position: relative;
    background: #fff;
    border-bottom: none;
}

#faq__collapse .card-header button {
    position: relative;
}

#faq__collapse .card-header .btn span {
    position: absolute;
    font-size: 1.6rem;
    font-weight: 700;
    top: 0;
    right: 0;
    transform: rotate(180deg);
    transition: all .5s;
}

#faq__collapse .card-header .btn.collapsed span {
    transform: rotate(0deg);
}

#faq__collapse .card-header button {
    color: #2c3038;
    text-decoration: none;
    font-size: 20px;
    line-height: 1;
}

#faq__collapse .card-header button:focus {
    box-shadow: none;
}

#faq__collapse .card-body {
    padding: 0 35px 25px;
    opacity: 0;
}

#faq__collapse .collapse.show .card-body {
    animation: inUp .1s linear 1;
    opacity: 1;
}

/* END FAQ */


/* FEATURE */

.feature__content {
    max-width: 900px;
}

.feature__content ul {
    display: grid;
    grid-template-columns: repeat(3, 1.5fr);
    text-align: center;
}

.feature__content .nav-item .nav-link {
    position: relative;
    font-size: 22px;
    font-weight: 700;
    padding: 15px;
    margin: 0;
    color: #4e5B61;
    background-color: #fff;
    transition: all .5s;
}

.nav-item .nav-link::before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #eee;
    transition: all .5s;
}

.nav-item .nav-link.active {
    color: #dc4f72;
}

.nav-item .nav-link.active::before {
    background-color: #dc4f72;
}

#feature__tab__content .row {
    margin: 30px 5px;
}

#feature__tab__content .col__text h3 {
    color: #2c3038;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    margin-bottom: 16px;
}

#feature__tab__content .col__text p {
    color: #2c3038;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 24.5px;
}

#feature__tab__content .col__text .feature__btn {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    color: #dc4f72;
    border: 1px solid #dc4f72;
    border-radius: 5px;
    text-transform: uppercase;
    height: 52px;
    line-height: 52px;
    padding: 0 30px;
    transition: all .5s;
}

#feature__tab__content .col__text .feature__btn:hover {
    color: #fff;
    background-color: #dc4f72;
}

#feature__tab__content .col__img img {
    width: 100%;
    border-radius: 5px;
    transform: translateY(10px);
    transition: all .5s;
}

#feature__tab__content .col__img img:hover {
    transform: translateY(0);
}

/* Collapse type css */

.collapse__type {
    display: none;
}

#feature__collapse .collapse__header {
    background-color: white;
}

#feature__collapse .collapse__header.collapsed {
    background-color: #f5f5f5;
}

#feature__collapse .collapse .card-body {
    position: relative;
}

#feature__collapse .collapse .card-body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    display: inline-block;
    background-color: #dc4f72;
}

#feature__collapse .collapse__header {
    position: relative;
    font-size: 20px;
    color: #dc4f72;
    text-decoration: none;
    box-shadow: none;
    padding: 15px 20px;
}

#feature__collapse .collapse__header.collapsed {
    color: #4e5B61;
}

#feature__collapse .collapse__header.collapsed::before {
    position: absolute;
    top: 25%;
    right: 20px;
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    font-size: 16px;
    content: '\f0d7';
    transform: rotate(0deg);
}

#feature__collapse .collapse__header::before {
    position: absolute;
    top: 25%;
    right: 20px;
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    font-size: 16px;
    content: '\f0d7';
    transform: rotate(180deg);
}

#feature__collapse .col__text h3 {
    color: #2c3038;
    font-weight: 700;
    font-size: 23px;
    line-height: 30px;
}

#feature__collapse .card:nth-of-type(2) .col__text h3 {
    padding-right: 10px;
}

#feature__collapse .col__text p {
    color: #2c3038;
    line-height: 24.5px;
    /* word-break: break-all; */
    padding-right: 20px;
}

#feature__collapse .col__text .feature__btn {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    color: #dc4f72;
    border: 1px solid #dc4f72;
    border-radius: 5px;
    text-transform: uppercase;
    height: 52px;
    line-height: 52px;
    padding: 0 30px;
    margin: 15px 0 30px;
    transition: all .5s;
}

#feature__collapse .col__text .feature__btn:hover {
    color: #fff;
    background-color: #dc4f72;
}

#feature__collapse .col__img img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
    transform: translateY(10px);
    transition: all .5s;
}

#feature__collapse .col__img img:hover {
    transform: translateY(0);
}

#feature__collapse .card:nth-of-type(2) .col__img img {
    margin-bottom: 35px;
}

/* End collapse type css */

/* END FEATURE */


/* FEEDBACK */

.mast-feedback {
    padding: 70px 0;
    background-image: linear-gradient(to right, rgba(247, 249, 252, 0.77), rgba(247, 249, 252, 0.77)), url('../imgs/b2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.feedback__content {
    margin-top: 35px;
}

.feedback__item {
    background-color: #fff;
    padding: 20px 15px;
    border-radius: 5px;
}

.feedback__item .feedback__avatar {
    padding-left: 25px;
}

.feedback__item .feedback__avatar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #dc4f72;
    object-fit: cover;
    position: relative;
    justify-content: center;
}

.feedback__item .feedback__text {
    padding-left: 50px;
}

.feedback__item .feedback__text p {
    font-size: 18px;
}

.feedback__item .feedback__text .feedback__des {
    line-height: 26px;
    position: relative;
    padding: 0 10px 0 50px;
}

.feedback__item .feedback__text .feedback__des::before {
    position: absolute;
    content: '\f10d';
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    font-size: 45px;
    color: rgba(0, 0, 0, 0.09);
    top: 0;
    left: 0;

}

.feedback__item .feedback__text .feedback__author {
    color: #dc4f72;
    font-weight: 400;
    padding: 0 25px 0 50px;
}

.feedback__item .feedback__text .feedback__company {
    font-size: 13px;
    padding: 0 25px 0 50px;
}

.mast-feedback .owl-theme .owl-dots .owl-dot span {
    border-radius: 0;
    width: 40px;
    height: 5px;
    background-color: #fff;
}

.mast-feedback .owl-theme .owl-dots .owl-dot.active span,
.mast-feedback .owl-theme .owl-dots .owl-dot:hover span {
    background: #dc4f72;
}

/* END FEEDBACK */

/* FOOTER */

.mast-footer.mast-section {
    margin-bottom: 0;
}

.mast-footer .mast-title {
    margin-bottom: 50px;
}

.mast-footer .mast-title a {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid #dc4f72;
    border-radius: 5px;
    display: inline-block;
    padding: 15px 30px;
    margin: 8px;
}

.mast-footer .mast-title .btn__left {
    color: #dc4f72;
    transition: all .5s;
}

.mast-footer .mast-title .btn__left:hover {
    color: #fff;
    background-color: #d62f58;
}

.mast-footer .mast-title .btn__right {
    color: #fff;
    background-color: #dc4f72;
    transition: all .5s;
}

.mast-footer .mast-title .btn__right:hover {
    background-color: #d62f58;
}

.footer__content {
    padding: 50px 0 35px;
    background-color: #f7f9fc;
}

.footer__content__top {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 2.5fr;
}

.footer__item h3 {
    font-size: 20px;
    line-height: 25px;
    color: #2c3038;
    margin-bottom: 30px;
    font-weight: 700;
}

.footer__item ul {
    list-style: none;
}

.footer__item li {
    margin: 10px 0;
}

.footer__item li a {
    color: #656f7b;
    font-size: 15px;
    line-height: 25px;
    transition: all .3s;
}

.footer__item li a:hover {
    color: #dc4f72;
}

.footer__item .card {
    box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
    border-radius: 5px;
    border: none;
    padding: 15px;
}

.footer__item .card-body .form-group {
    display: flex;
    align-items: center;
    margin: 25px 0 15px;
}

.footer__item .card input {
    /* display: inline-block; */
    margin-right: 10px;
    padding: 23px 15px;
    border: none;
    font-weight: 600;
    color: #2c3038;
    background-color: #f7f9fc;
}

.footer__item .card .form-control:focus {
    box-shadow: none;
}

.footer__item .card span {
    display: block;
}

.footer__item .card button {
    padding: 10px 35px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    background-color: #dc4f72;
}

.footer__content hr {
    /* max-width: 73%; */
    width: 88%;
    margin: 40px auto;
    background-color: rgba(196, 196, 196, 0.2);
}

.footer__content .footer__content__bottom {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.footer__content__bottom .buttom__left {
    font-size: 16px;
    color: #5a5a5a;
}

.footer__content__bottom .bottom__left span {
    transition: all .5s;
    color: #2c3038;
}

.footer__content__bottom .bottom__left span:hover {
    cursor: pointer;
    color: #dc4f72;
}

.footer__content .bottom__right li {
    list-style: none;
    display: inline-block;
}

.footer__content__bottom .bottom__right i {
    font-size: 14px;
    margin: 0 15px;
    transition: all .5s;
    color: #000;
}

.footer__content__bottom .bottom__right i:hover {
    cursor: pointer;
    color: #dc4f72;
}


/* END FOOTER */

/* Switch Theme Button */
.btn__changeTheme {
    position: fixed;
    font-size: 20px;
    bottom: 100px;
    right: 0;
    border-radius: 5px;
    border: none;
    background-color: #FBDA61;
    background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
    background-color: #FBDA61;
    background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
    padding: 5px 10px;
    z-index: 1;
}

/* End Switch Theme Button */

/* Back To Top */

.backToTop {
    position: fixed;
    color: #000;
    bottom: 50px;
    right: 0;
    font-size: 20px;
    background-color: #FBDA61;
    background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
    background-color: #FBDA61;
    background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
    padding: 5px 12px;
    border-radius: 5px;
    opacity: 0;
    z-index: 1;
}

.backToTop:hover {
    color: #fff;
}

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}

/* End Back To Top */

/* END LIGHT MODE */



/* DARK MODE */

/* GLOBAL DARK */
.dark#myBody {
    /* background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.25) 200%);
    background-blend-mode: multiply; */
    background-color: #070d19;
}

/* END GLOBAL DARK */

/* HEADER DARK */

/* END HEADER DARK */


/* CAROUSEL DARK */

/* END CAROUSEL DARK */


/* WHY CHOOSE DARK */

/* END WHY CHOOSE DARK */


/* ABOUT US DARK */

/* END ABOUT US DARK */


/* BLOG DARK */

.dark .mast-blog .mast-title h3,
.dark .mast-blog .mast-title p {
    color: #fff;
}

.dark .blog__content .card {
    border: none;
}

.dark .blog__content .card .card-body {
    background-color: #111827;
}

.dark .blog__content .card-body a,
.dark .blog__content .card-body p {
    color: #fff;
}

.dark .blog__content .card-body a:hover {
    color: #dc4f72;
}

.dark .blog__content .card-body .badge__test {
    filter: contrast(200%);
}

.dark .blog__content .card-body .card__link {
    color: #dc4f72;
}

/* END BLOG DARK */


/* FAQ DARK */

.dark .mast-faq {
    background-color: #070d19;
}

.dark .mast-faq h3,
.dark .mast-faq p {
    color: #fff;
}

.dark #faq__collapse .card-header,
.dark #faq__collapse .card-body {
    background-color: #111827;
}

.dark #faq__collapse .card-header button,
.dark #faq__collapse .card-body {
    color: #fff;
}




/* END FAQ DARK */


/* FEATURE DARK */

.dark .mast-feature h3,
.dark .mast-feature p {
    color: #fff;
}

/* Nav Pill Dark */

.dark .feature__content .nav-item .nav-link {
    background-color: #070d19;
}

.dark #feature__tab__content .col__text h3,
.dark #feature__tab__content .col__text p {
    color: #fff;
}

/* End Nav Pill Dark */

/* Collapse Dark */
.dark #feature__collapse .card .collapse__header,
.dark #feature__collapse .card .card-body {
    background-color: #070d19;
    color: #dc4f72;
}

.dark #feature__collapse .card .collapse__header.collapsed {
    color: #fff;
}

.dark #feature__collapse .card .collapse__header:hover {
    color: #dc4f72;
}



.dark #feature__collapse .col__text h3,
.dark #feature__collapse .col__text p {
    color: #fff;
}

/* End Collapse Dark */

/* END FEATURE DARK */


/* FEEDBACK DARK */

.dark .mast-feedback {
    background: #070d19;
}

.dark .mast-feedback h3,
.dark .mast-feedback p {
    color: #fff;
}

.dark .feedback__content .feedback__item {
    background-color: #111827;
}

.dark .feedback__item .feedback__text .feedback__des::before {
    color: #dc4f72;
}

/* END FEEDBACK DARK */


/* FOOTER DARK */

.dark .mast-footer h3,
.dark .mast-footer p {
    color: #fff;
}

.dark .footer__content {
    background-color: #070d19;
}

.dark .footer__item a {
    color: #fff;
}

.dark .form__contact .card {
    background-color: #111827;
    color: #fff;
}

.dark .bottom__left p span {
    color: #fff;
}

.dark .bottom__right i {
    color: #fff;
}

/* END FOOTER DARK */

/* END DARK MODE */



/* RESPONSIVE SECTION */

/* HEADER RESP */

/* END HEADER RESP */


/* CAROUSEL RESP */

/* END CAROUSEL RESP */


/* WHY CHOOSE RESP */

/* END WHY CHOOSE RESP */


/* ABOUT US RESP */

/* END ABOUT US RESP */


/* BLOG RESP */
@media screen and (max-width: 576px) {

    .mast-blog .mast-title h3 {
        font-size: 32px;
        margin-bottom: 20px;
    }

    .mast-blog .mast-title p {
        padding: 0 15px;
    }

    .blog__content .card:first-of-type,
    .blog__content .card:nth-of-type(2) {
        margin-bottom: 50px;
    }
}

/* END BLOG RESP */


/* FAQ RESP */
@media screen and (max-width: 576px) {

    .mast-faq {
        padding: 45px 0;
    }

    .mast-faq .mast-title h3 {
        font-size: 32px;
    }

    .mast-faq .mast-title p {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    #faq__collapse {
        margin-top: 35px;
    }

    #faq__collapse .card-header h2 button {
        padding-left: 3px;
    }

    #faq__collapse .card-body {
        text-align: justify;
        word-break: break-all;
        padding-left: 20px;
        padding-right: 50px;
    }

}

/* END FAQ RESP */


/* FEATURE RESP */

@media screen and (max-width: 768px) {

    .pill__type {
        display: none;
    }

    .collapse__type {
        display: block;
    }

    .mast-feature .mast-title h3 {
        font-size: 32px;
    }

    .mast-feature .mast-title p {
        padding: 0 15px;
    }

}

@media screen and (max-width: 576px) {

    .pill__type {
        display: none;
    }

    .collapse__type {
        display: block;
    }

    .mast-feature .mast-title h3 {
        font-size: 32px;
    }

    .mast-feature .mast-title p {
        padding: 0 15px;
    }

}

/* END FEATURE RESP */


/* FEEDBACK RESP */
@media screen and (max-width: 576px) {

    .mast-feedback {
        padding: 45px 0;
    }

    .mast-feedback .mast-title h3 {
        font-size: 32px;
    }

    .mast-feedback .mast-title p {
        padding: 0 15px;
    }

    .mast-feedback .feedback__item .feedback__avatar {
        max-width: 100px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0px;
        margin-top: 15px;
        margin-bottom: 25px;
    }

    .feedback__item .feedback__text {
        padding-left: 0px;
        text-align: center;
    }

    .feedback__item .feedback__text .feedback__des::before {
        left: 20px;
    }

}

/* END FEEDBACK RESP */

/* FOOTER RESP */

@media screen and (max-width: 992px) {

    .footer__content__top.container {
        max-width: 950px;
    }

    .footer__content__top  {
        grid-template-columns: repeat(3, 1fr);
    }

    .footer__item.form__contact {
        grid-column: 1/ span 3;
        margin-top: 50px;
    }

    .footer__item .card input {
       width: 70%;
    }

    .footer__item .card button {
        width: 30%;
    }

    .footer__content .footer__content__bottom {
        display: block;
        text-align: center;
    }
}

@media screen and (max-width: 576px) {

    .footer__content__top .footer__item {
        margin-top: 15px;
    }

    .footer__item.form__contact {
        grid-column: 1/ span 3;
    }

    .footer__content__top .footer__item:first-of-type,
    .footer__content__top .footer__item:nth-of-type(2) {
        grid-column: 1/ span 3;
    }

    .mast-footer .mast-title h3 {
        font-size: 32px;
        max-width: 300px;
        margin: 0 auto;
    }

    .mast-footer .mast-title p {
        padding: 0 15px;
    }

    .mast-footer .mast-title a {
        padding: 10px 20px;
        font-size: 12px;
    }

}


/* FOOTER RESP */

/* END FOOTER RESP */

/* END RESPONSIVE SECTION */



/* ANIMATION SECTION */

/* FAQ SECTION */
/* fadeInUp animation */
/* @keyframes inUp {
            from {
                transform: translateY(10px);
            }

            to {
                transform: translateY(0px);
            }
        } */
/* END FAQ SECTION */

/* END ANIMATION SECTION */