/* GLOBAL */

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html, body {
        font-family: 'Nunito', sans-serif;
        font-size: 16px;
    }

    a, a:hover {
        text-decoration: none;
    }

    .mast-title {
        max-width: 750px;
    }

    .mast-title h6 {
        font-size: 16px;
        line-height: 20px;
        font-weight: 700;
        color: #dc4f72;
    }

    .mast-title h3 {
        color: #2c3038;
        font-size: 46px;
        font-weight: 700;
    }

    .mast-title p {
        color: #2c3038;
        font-size: 16px;
        font-weight: 400;
        
    }

    .mast-section {
        margin: 3.1rem 0;
    }

/* END GLOBAL */



/* LIGHT MODE */

    /* HEADER */

    /* END HEADER */


    /* CAROUSEL */

    /* END CAROUSEL */


    /* WHY CHOOSE */

    /* END WHY CHOOSE */


    /* ABOUT US */

    /* END ABOUT US */


    /* BLOG */

    /* END BLOG */


    /* FAQ */

    /* END FAQ */


    /* FEATURE */

    /* END FEATURE */


    /* FEEDBACK */

    /* END FEEDBACK */


    /* FOOTER */

    /* END FOOTER */

/* END LIGHT MODE */



/* DARK MODE */

    /* HEADER DARK */

    /* END HEADER DARK */


    /* CAROUSEL DARK */

    /* END CAROUSEL DARK */


    /* WHY CHOOSE DARK */

    /* END WHY CHOOSE DARK */


    /* ABOUT US DARK */

    /* END ABOUT US DARK */


    /* BLOG DARK */

    /* END BLOG DARK */


    /* FAQ DARK */

    /* END FAQ DARK */


    /* FEATURE DARK */

    /* END FEATURE DARK */


    /* FEEDBACK DARK */

    /* END FEEDBACK DARK */


    /* FOOTER DARK */

    /* END FOOTER DARK */

/* END DARK MODE */



/* RESPONSIVE SECTION */

    /* HEADER RESP */

    /* END HEADER RESP */


    /* CAROUSEL RESP */

    /* END CAROUSEL RESP */


    /* WHY CHOOSE RESP */

    /* END WHY CHOOSE RESP */


    /* ABOUT US RESP */

    /* END ABOUT US RESP */


    /* BLOG RESP */

    /* END BLOG RESP */


    /* FAQ RESP */

    /* END FAQ RESP */


    /* FEATURE RESP */

    /* END FEATURE RESP */


    /* FEEDBACK RESP */

    /* END FEEDBACK RESP */


    /* FOOTER RESP */

    /* END FOOTER RESP */

/* END RESPONSIVE SECTION */



/* ANIMATION SECTION */

/* END ANIMATION SECTION */